<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-text mx-3">
            <%= data.appName %>
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/pengguna">
            <i class="fas fa-fw fa-table"></i>
            <span>Data Admin</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/skripsi">
            <i class="fas fa-fw fa-table"></i>
            <span>Skripsi Mahasiswa</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/buku-tamu">
            <i class="fas fa-fw fa-table"></i>
            <span>Buku Tamu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/buku">
            <i class="fas fa-fw fa-table"></i>
            <span>Data Buku</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/sumbang-buku">
            <i class="fas fa-fw fa-table"></i>
            <span>Sumbangan</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/peminjaman-buku">
            <i class="fas fa-fw fa-table"></i>
            <span>Peminjaman</span></a>
    </li>
</ul>