<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>
        <%= data.appName %>
    </title>
    <link href="/public/images/UNH.png" rel="icon"> 
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"> <!-- Added Bootstrap Icons -->
    <%- include ("../../components/header.ejs") %>
</head>

<body>
    <%- include ("../../components/ui/navbar.ejs") %>

    <div class="container my-5">
        <div class="text-center mb-4">
            <h1 class="display-4 font-weight-bold">Tata Tertib</h1>
            <p class="lead text-muted">Peraturan dan prosedur untuk menciptakan lingkungan perpustakaan yang kondusif.</p>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p>Tata tertib perpustakaan adalah serangkaian peraturan dan prosedur yang dibuat untuk mengatur perilaku dan aktivitas pengguna di dalam perpustakaan. Tata tertib ini bertujuan untuk menciptakan lingkungan yang kondusif, tertib,
                    dan nyaman bagi semua pengguna perpustakaan.</p>
            </div>
        </div>
        <h2 class="h4">Peraturan:</h2>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">Mengisi Buku Tamu yang disediakan sebelum memasuki ruangan perpustakaan.</li>
            <li class="list-group-item">Masuk Ruangan Perpustakaan berpakaian rapi, baju dimasukkan ke dalam.</li>
            <li class="list-group-item">Tidak Membawa Tas, buku, kantong lain, dan jaket ke dalam ruangan perpustakaan.</li>
            <li class="list-group-item">Membangun Kemitraan Strategis.</li>
            <li class="list-group-item">Buku perpustakaan tidak boleh dibawa keluar ruangan, kecuali telah dipinjam.</li>
            <li class="list-group-item">Menjaga kebersihan Lingkungan perpustakaan.</li>
        </ol>
        <div class="mt-4 text-center">
            <p>Dari <a href="http://library.unh.ac.id/">Library</a> &middot; <a href="https://play.google.com/store/apps/details?id=id.kubuku.kbk1927535&hl=en&gl=US&pli=1">E-Library</a></p>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="container text-center">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2024 Universitas Nurdin Hamzah. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <%- include ("../../components/footer-js.ejs") %>
</body>

</html>